body {
    display: grid;
    background-color: #f5f3ef;
    font-family: 'Roboto Serif', serif;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    height: 100vh;
    margin:0;
    padding:0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
  }

  .left-section {
    display: flex;
  }

  .center-section {
    display:flex;
    justify-content: center;
    place-items: center;
    height: 40px;
    width: auto;
  }

  .center-image {
    width: 90%;
    height: 35px;
  }
  
  .right-section {
    justify-self: end;
    margin-right: 10px;
  }
  
  .inactive-link1 {
    display: none;
  }
  .inactive-link2 {
    display: none;
  }
  
  .burger-menu {
    display: block;
    width: 40px;
    height: 40px;
  }
  
  .get-started {
    display: none;
  } 



  main {
    grid-area: main;
    box-sizing: content-box;
  }
  
  .first-section {
    display: grid;
    grid-template-areas:
      "title-description"
      "section-image-container";
    grid-template-columns: 1fr;
  }
  
  .title-description {
    grid-area: title-description;
    text-align: center;
    margin-top: 15px;
  }
  
  .section-image-container {
    grid-area: section-image-container;
    display: flex;
    justify-content: center;
  }
  
  .section-title {
    font-size: 38px;
    padding: 0 40px;
  }
  
  .section-description {
    font-size: 22px;
    padding: 0 10px;
  }
  
  .section-image {
    max-width: 100%;
    height: auto;
  }
  
  .second-section {
    grid-area: second-section;
    display: grid;
    grid-template-areas: 
      "second-section-title"
      "chef-skills"
      "cooking-essentials"
      "nutrition-cooking"
      "plant-based"
      "teens";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }
  .second-section-title {
    background-color: #febd24;
    height: 132px;
    width: 342px;
    border-radius: 24px;
}

.explore {
  margin: 20px 50px 10px 20px;
  font-size: 28px;
}

.same-format h3 {
  padding: 4px 48px 10px 25px;
font-family: Roboto serif;
font-size: 24px;
}

.same-format p {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 100;
  color:#646464;
  line-height:23px;
  height:100px;
}

.same-format button {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 40px;
  width:120px;
  height: 40px;
  font-weight:bold;
}

.knife,
.burger,
.leaf,
.clipboard,
.pot {
    position:absolute;
    top: -40px;
    right:30px;
    height: 75px;
    width: 70px;
}

.same-format {
  display:flex;
    flex-direction: column;
    position:relative;
    background-color: white;
    height:250px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

  footer {
    background-color: #FEBD2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 100%;
  }
  
  .footer-image {
    width: 100px;
    height: auto;
  }
  
  
  

@media (min-width: 768px) {
  header {
    height: 70px;
  }
    .left-section {
      display:flex;
      justify-content: space-around;
      padding-left: 30px;
      width: 230px;
    }
  
    .right-section {
      display:flex;
      justify-content: flex-end;
    }
  
    a {
      text-decoration: none;
      color:black;
      font-size: 18px;
    }

    .inactive-link1 {
      display: inline-block;
      text-decoration: none;
      margin-right: 30px;
    }

    .inactive-link2 {
      display: inline-block;
      margin-left: 30px;
    }

    .center-section {
      display:flex;
      justify-content: center;
      height: 50px;
      width: auto;
    }
  
    .center-image {
      width: 90%;
      height: 45px;
    }
  
    .burger-menu {
      display: none;
    }
  
    .get-started {
      display: block;
      color:white;
      background-color: black;
      border-radius: 40px;
      width:120px;
      height: 40px;
      font-weight:bold;
      margin: 0;
    }

    .section-title {
      font-size: 52px;
      margin: 40px 40px 30px 40px;
      font-weight: lighter;
    }

    .section-description {
      font-size: 22px;
      padding: 0 10px;
      margin:20px 45px;
      font-weight: lighter;
      color:#646464;
      line-height: 1.6;
    }
    
    .section-image {
      width: 90%;
      height: 360px;
    }
    
  
    .second-section {
        grid-template-areas: 
          "second-section-title chef-skills"
          "cooking-essentials nurtrition-cooking"
          "plant-based teens";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 60px;
        column-gap: 5px;
        padding: 0;
        margin: 0;
      }

      .second-section-title {
        background-color: #febd24;
        height:250px;
        width: 300px;
        border-radius: 24px;
      }

      .explore {
        font-size: 34px;
        margin:0;
        padding:0;
      }




  @media (min-width: 1024px) {
    .get-started {
      margin-right: 50px;
    }
    .first-section {
        grid-template-areas:
          "title-description section-image-container";
        grid-template-columns: 1fr 1fr;
      }
    
    .second-section {
        grid-template-areas: 
          "second-section-title chef-skills cooking-essentials"
          "nutrition-cooking plant-based teens";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
      }
 }