/* Default styles for all devices */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, roboto serif;
    font-size: 16px;
    background-color: #f5f3ef;
    max-width: 390px;
}

header, main, footer {
    width: 100%;
}

.header-container {
    display:grid;
    grid-template-columns: 330px 40px;
    grid-template-areas:
    "logo menu";
    padding-top: 24px;
}

.logo-container {
grid-area: logo;
text-align : center;
}

.logo {
    width: 130px;
    height: 32px;
    padding-left: 55px;
}



.menu-container{
    grid-area: menu;
}

.menu {
    width: 32px;
    height: 32px;
}

.main-grid-container {
    display:grid;
    grid-template-columns: stretch;
    grid-template-rows: repeat(3,stretch);
    grid-template-areas:
    "header"
    "paragraph"
    "image";
    height: 560px;
    margin-top: 20px;
    justify-items:center;
}
.h1-container {
    grid-area: header;
    width: 342px;
    height: 170px;
    text-align: center;
}

.h1-main {
    font-size: 38px;
}

.paragraph-container {
    grid-area: paragraph;
    text-align: center;
    height: 120px;
}

.main-paragraph {
    margin: 0 15px 0 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.couple-image-container {
    grid-area: image;
    width: 100%;
    height: 250px;
}

.people-photo {
    padding: 20px 20px 0 20px;
}

.class-choice-container {
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "classHeader"
    "chefSkills"
    "essentials"
    "plantBased"
    "teensKitchen";
    gap: 40px;
}

.class-header-item {
    grid-area: classHeader;
    background-color: #febd24;
    height: 132px;
    width: 342px;
    margin: 30px 20px 0 20px;
    border-radius: 20px;
}

.class-h2 {
padding: 20px 70px 20px 25px;
font-family: Roboto;
font-size: 26px;
}

.class-item {
    background-color: white;
    margin: 10px 20px 10px 20px;
}

.chef-skills {
    grid-area: chefSkills;
}

.cooking-essentials {
    grid-area: essentials;
}

.nutrtition {
    grid-area: nutrition;
}

.plant-based {
    grid-area: plantBased;
}

.teens-kitchen {
    grid-area: teensKitchen;
}


/* Tablet styles */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    section {
        width: 48%;
    }
    
    aside {
        width: 48%;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    
    main {
        flex-wrap: nowrap;
    }
    
    section {
        width: 70%;
    }
    
    aside {
        width: 25%;
    }
}
