body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
  }
  .left-section {
    justify-self: start;
    display: flex;
    gap: 10px;
  }
  
  .right-section {
    justify-self: end;
  }
  
  .inactive-link {
    display: none;
  }
  
  .burger-menu {
    display: block;
  }
  
  .get-started {
    display: none;
  } 












main {
    grid-area: main;
    /* Additional styles here */
}

footer {
    grid-area: footer;
    /* Additional styles here */
}

@media (min-width: 768px) {
    .left-section {
      justify-content: flex-start;
    }
  
    .right-section {
      justify-content: flex-end;
    }
  
    .inactive-link {
      display: inline-block;
    }
  
    .burger-menu {
      display: none;
    }
  
    .get-started {
      display: block;
    }
  }

  @media (min-width: 1024px) {
    .get-started {
      margin-right: 50px;
    }
  }
