/* Default styles for all devices */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, roboto serif;
    font-size: 16px;
    background-color: #f5f3ef;
    max-width: 390px;
}

header, main, footer {
    width: 100%;
}

.header-container {
    display:grid;
    grid-template-columns: 330px 40px;
    grid-template-areas:
    "logo menu";
    padding-top: 24px;
}

.logo-container {
grid-area: logo;
text-align : center;
}

.logo {
    width: 130px;
    height: 32px;
    padding-left: 55px;
}



.menu-container{
    grid-area: menu;
}

.menu {
    width: 32px;
    height: 32px;
}

.main-grid-container {
    display:grid;
    grid-template-columns: stretch;
    grid-template-rows: repeat(3,stretch);
    grid-template-areas:
    "header"
    "paragraph"
    "image";
    height: 560px;
    margin-top: 20px;
    border: red solid 2px;
    justify-items:center;
}
.h1-container {
    grid-area: header;
    width: 342px;
    height: 170px;
    text-align: center;
    border: solid green 2px;
}

.h1-main {
    font-size: 38px;
}

.paragraph-container {
    grid-area: paragraph;
    text-align: center;
    height: 120px;
    border: solid lightgreen 2px;
}

.main-paragraph {
    margin: 0 15px 0 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.couple-image-container {
    grid-area: image;
    width: 100%;
    height: 250px;
    border: solid purple 2px;
}

.people-photo {
    padding: 20px 20px 0 20px;
}

.class-choice-container {
    display:grid;
    grid-template-columns:stretch;
    grid-template-rows: repeat(6, auto);
}


/* Tablet styles */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    section {
        width: 48%;
    }
    
    aside {
        width: 48%;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    
    main {
        flex-wrap: nowrap;
    }
    
    section {
        width: 70%;
    }
    
    aside {
        width: 25%;
    }
}
